.de1{
    position: relative;
    top: 40%;
    left: 20%;
    width: 60%;
    height: 50%;
    margin-top: 20px;
    }

.img-wrap {
    display: grid;
    height: 100%;
    width: 100%;
    border: maroon;
  /* position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%; */
  }
  
  div > img {
    width: 100%; 
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    
    /* position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%; */
  }